.main {
  padding: 0 10%;
  display: flex;
}
.main .blog-left {
  width: 100%;
  padding: 2% 4%;
  /* border-right: 0.5px solid #f0f0f0; */
}

.main .blog-right {
  width: 30%;
  padding: 2% 4%;
  border-left: 0.5px solid #f0f0f0;
}
